@import "../../sass/variables";

.container {
	width: 70vw;

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 50px;
	}
}

.description {
	padding-bottom: 50px;
	max-width: 450px;
	transition: all 1s;

	&.hiddenRight {
		@include hiddenRight;
	}

	&.hiddenLeft {
		@include hiddenLeft;
	}

	&.show {
		@include show;
	}

	.title {
		color: $primary-color;
		font-size: calc(2rem + 1vmin);
		/*font-size: clamp(2rem, 1rem + 0.5vw, 2.5rem);*/
	}

	.year {
		color: rgba($primary-color, 0.8);
		margin-top: -20px;
	}

	.paragraph {
		font-size: clamp(1.1rem, 1rem + 0.5vw, 1.3rem);
	}
}

.details {
	display: flex;

	.links{
		justify-content: space-between !important;
		.linkItem {
			cursor: pointer;
			margin: 0 2px;
			transition: all 0.2s;
			color: rgba($primary-color, 0.6);

			&:hover {
				scale: 1.2;
				color: $primary-color;
			}
		}
	}


	.technology {
		color: rgba($primary-color, 0.5);
		font-size: 1.1rem;
		display: flex;
		align-items: center;
		text-align: center;

		&:nth-of-type(2) {
			padding: 0 15px;
		}
	}
}

.mockup {
	position: relative;
	margin: 25px 0;
	transition: all 1s, opacity 2s;
	transition-delay: 0.3s;

	&.hiddenRight {
		@include hiddenRight;
	}

	&.hiddenLeft {
		@include hiddenLeft;
	}

	&.show {
		@include show;
	}

	.laptop {
		max-width: 700px;
	}

	.preview {
		position: absolute;
		top: 27px;
		left: 87px;
		width: 527px;
		height: 330px;
	}
}

//Media Queries

@media screen and (max-width: 1200px) {
	.content, .description {
		flex-direction: column;
		min-width: 100%;
		padding-bottom: 0 !important;
	}
}

@media screen and (max-width: 1024px) {
	.mockup, .laptop, .preview {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 75vw !important;
	}

	.paragraph {
		line-height: 1.3;
	}

	.mockup, .laptop, .preview {
		transform: scale(0.6);
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: 80vw !important;
	}

	.mockup {
		display: none;
	}

	.paragraph {
		text-align: justify;
		text-justify: inter-word;
	}
}