@import "../../sass/variables";

.container {
	width: 70vw;

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 50px;
	}
}
.description {
	padding-bottom: 50px;
	max-width: 450px;
	transition: all 1s;
	&.hiddenRight {
		@include hiddenRight;
	}

	&.hiddenLeft {
		@include hiddenLeft;
	}

	&.show {
		@include show;
	}

	.title {
		color: $primary-color;
		font-size: 2.1rem;
	}

	.year {
		color: rgba($primary-color, 0.8);
		margin-top: -10px;
	}

	.paragraph {
		font-size: 1.3rem;
	}
}

.details {
	display: flex;

	.link {
		cursor: pointer;
		margin: 0 2px;
		transition: all 0.2s;
		color: rgba($primary-color, 0.6);

		&:hover {
			scale: 1.2;
			color: $primary-color;
		}
	}

	.technology {
		color: rgba($primary-color, 0.5);
		font-size: 1.1rem;
		display: flex;
		align-items: center;

		&:first-of-type {
			padding-right: 15px;
		}
	}
}

.mockup {
	position: relative;
	scale: width(200px, 35vw, 800px);
	margin: 25px 0;
	transition: all 1s;

	&.hiddenRight {
		@include hiddenRight;
	}

	&.hiddenLeft {
		@include hiddenLeft;
	}

	&.show {
		@include show;
	}

	.laptop {
		max-width: 700px;
	}

	.preview {
		position: absolute;
		top: 27px;
		left: 87px;
		width: 527px;
		height: 330px;
	}
}

//Media Queries

@media screen and (max-width: 1024px) {
	.content {
		flex-direction: column;
	}
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
	.mockup {
		display: none;
	}
}