@import "variables";

.about {
    background-image: url(../images/noise.png);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    .about-title {
        @include title;
        &:after {
            @include header-underline;
        }
    }
    p {
        max-width: 50vw;
        font-size: 1.4rem;
        span {
            color: $primary-color;
        }
    }
}