@import "variables";

.about {
    background-image: url(../images/noise.png);
    display: flex;
    align-items: center;
    flex-direction: column;
    
    height: 80vh;
    .about-title {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 2.5rem;
        &:after {
            content: "";
            display: block;
            background: white;
            position: absolute;
            width: 75px;
            height: 5px;
            border-radius: 5px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
        }
    }
    p {
        max-width: 50vw;
        font-size: 1.5rem;
        span {
            color: $primary-color;
        }
    }
}