@import "variables";

.contact {
    background-image: url(../images/noise.png);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    .contact-title {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 2.5rem;
        &:after {
            @include header-underline;
        }
    }
    p {
        max-width: 40vw;
        font-size: 1.4rem;
        text-align: center;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        .contact-input {
            border-radius: 10px;
            font-size: 1.4rem;
            font-family: $primary-font;
            background-color: $opacity2-color;
            border: none;
            margin: 5px 0px;
            padding: 10px;
            min-width: 400px;
            color: white;
            &::placeholder {
                color: white;
               
            }
            &:focus {
                outline: none;
            }
        }
        textarea {
            min-height: 150px;
            font-size: 1.5rem;
            
        }
    }
    .home-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid $primary-color;
            border-radius: 5px;
            color: white;
            font-size: 1.2rem;
            padding: 15px 50px;
            margin-top: 50px;
            transition: all 0.5s;
            &:hover {
                background-color: $primary-color;
        }
    }
}