@import "variables";

.footer {
    //background-image: url(../images/noise.png);
    background-color: $opacity-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    .icons {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .link {
            width: 30px;
        }
    }
}