@import "variables";

.footer {
    //background-image: url(../images/noise.png);
    background-color: #0097c199;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    .icons {
        .link {
            width: 30px;
            margin: 0 5px;
        }
    }
}