@import "variables";

.project {
    background-image: url(../images/noise.png);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    .project-content {
        display: flex;
        width: 70%;
        min-height: 70vh;
        align-items: center;
        justify-content: space-evenly;
        .project-mockup {
            position: relative;
            z-index: 1;
            .preview{
                position: absolute;
                top: 28px;
                left:88px;
                width: 525px;
                height: 330px;
                z-index: -1;
            }
        }
        .project-description {
            max-width: 30vw;
            padding-bottom: 75px;
            h2 {
                color: $primary-color;
                font-size: 2.5rem;
            }
            p {
                font-size: 1.5rem;
            }
            .description-bottom {
                display: flex;
                align-items: center;
                .link {
                        opacity: 60%;
                        width: 40px;
                        cursor: pointer;   
                    }
                span {
                    color: $opacity-color;
                    font-size: 1.2rem;
                    padding: 0 15px;
                }
            }
        }
    }
}
