@import "variables";

.project {
    @include theme;
    height: 60vh;
    justify-content: center;
    .project-content {
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: space-evenly;
        .project-mockup {
            position: relative;
            .preview{
                position: absolute;
                top: 28px;
                left:88px;
                width: 525px;
                height: 330px;
            }
        }
        .project-description {
            max-width: 30vw;
            padding-bottom: 75px;
            h2 {
                color: $primary-color;
                font-size: 2.1rem;
            }
            p {
                font-size: 1.3rem;
            }
            .description-bottom {
                display: flex;
                //align-items: center;
                .link {
                    cursor: pointer;
                    opacity: 60%;
                    height: 20px;
                    padding: 0 5px;
                    transition: all 0.2s;
                    &:hover {
                        scale: 1.2;
                    }
                }         
                span {
                    color: $opacity-color;
                    font-size: 1.1rem;   
                }
                span:first-of-type {
                    padding-right: 15px;
                }
            }
        }
    }
}
