@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
$primary-font: 'Lato', sans-serif;
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;
$black-weight: 900;

$primary-color: #00C8FF;
$opacity-color: #00c8ff99;
$opacity2-color: #115d72cc;