@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
$primary-font: 'Ubuntu', sans-serif;
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 500;

$primary-color: #61dafb;