@import "variables";

.container {
	color: white;
	background: linear-gradient(to right, #17181d, #2e3d5a);
	
}

.projects {
	padding-top: 100px;
	@include theme;
}
.headingPrimary {
	@include heading;
	&:after {
		@include heading__underline;
	}
}