@import "_variables.scss";

.App {
    color: white;
    .header {
        background-color: #282c34;
        min-height: 15vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
        .header-left {
            display: flex;
            .logo {
                padding-right: 10px;
            }
            h2 {
                margin: 0;
                display: flex;
                align-items: center;
                font-weight: 400;
            }
            span {
                color: $primary-color;
            }
        }
        .header-right  {
            ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    padding: 1em;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .content {
        background-color:#282c34;
        min-height: 85vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: calc(10px + 2vmin);
        .content-left {
            max-width: 30vw;
            h1, h3 {
                color: $primary-color;
                margin: 0;
            }
            h3 {
                font-weight: 400;
            }
            p {
                text-align: justify;
                font-size: 20px;
            }
        }
        .content-right {
            .myself {
                border-radius: 50%;
            }
        }
    }
}