@import "variables";

.container {
	color: white;
	background: linear-gradient(90deg, rgba(23,24,29,1) 0%, rgba(46,61,90,1) 100%);
}

.projects {
	padding-top: 50px;
	@include theme;
}

.firstProject {
	.headingPrimary {
		@include heading;
		display: flex;
		align-items: center;
		width: 100%;
		transition: all 1s;

		&.hidden {
			@include hiddenRight;
		}

		&.show {
			@include show;
		}

		&:before {
			@include heading__line;
			margin-right: 100px;
		}
	}
}

//Media Queries

@media screen and (max-width: 1024px) {
	.headingPrimary {
		&:before {
			margin-right: 60px !important;
		}
	}
}

@media screen and (max-width: 768px) {
	.headingPrimary {
		&:before {
			margin-right: 30px !important;
		}
	}
}

@media screen and (max-width: 480px) {
	.headingPrimary {
		&:before {
			margin-right: 20px !important;
		}
	}
}