@import "variables";

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $primary-font;
}

::-webkit-scrollbar {
	width: .7em;
}

::-webkit-scrollbar-track {
	background: #222;
}

::-webkit-scrollbar-thumb {
	background: #00AEE0;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #009AC7;
}

::-webkit-scrollbar-thumb:active {
	background: #005D7A;
}
