@import "../../sass/variables";

.container {
	@include theme;
	justify-content: space-between;
	padding: 50px 0;

	.content {
		width: 70vw;
	}
}

.headingPrimary {
	@include heading;
	width: 100%;
	display: flex;
	align-items: center;
	transition: all 1s;

	&.hidden {
		@include hiddenLeft;
	}

	&.show {
		@include show;
	}

	&:after {
		@include heading__line;
		margin-left: 100px;
	}
}

.description {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.text {
		text-align: justify;
		transition: all 1s;

		&.hidden {
			@include hiddenLeft;
		}

		&.show {
			@include show;
		}

		.paragraph {
			max-width: clamp(50px, 35vw, 1000px);
			font-size: clamp(1rem, 1rem + 0.5vw, 1.3rem);

			.highlight {
				color: $primary-color;
			}
		}
	}
}

.circle {
	//background-image: url("data:image/svg+xml,%3csvg width='00%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2300C8FFFF' stroke-width='4' stroke-dasharray='9' stroke-dashoffset='37' stroke-linecap='round'/%3e%3c/svg%3e");
	border: $primary-color dashed 3px;
	border-radius: 50%;
	overflow: hidden;
	transition: all 1s;
	transition-delay: 0.3s;

	&.hidden {
		@include hiddenLeft;
	}

	&.show {
		@include show;
	}

	.myself {
		//position: relative;
		top: 5px;
		width: 350px;
	}
}

//Media Queries

@media screen and (max-width: 1024px) {
	.headingPrimary {
		&:after {
			margin-left: 60px;
		}
	}

	.description {
		flex-direction: column-reverse;
	}

	.text, .paragraph {
		min-width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.headingPrimary {
		&:after {
			margin-left: 30px;
		}
	}

	.circle {
		&.show {
			transform: scale(0.9);
		}
	}
}

@media screen and (max-width: 480px) {
	.headingPrimary {
		&:after {
			margin-left: 20px;
		}
	}

	.circle {
		&.show {
			--scale: 0.8;
			transform: scale(var(--scale));
			transform-origin: top center;
			margin-bottom: calc((var(--scale) - 1) * 100%);
		}
	}
}