@import "../../sass/variables";

.container {
	@include theme;
	height: 65vh;
}
.headingPrimary {
	@include heading;
	&:after {
		@include heading__underline;
	}
}
.text {
	max-width: clamp(50px, 60vw, 1000px);
	font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
	.highlight {
		color: $primary-color;
	}
}
