@import "../../sass/variables";

.container {
	@include theme;
	padding: 100px 0;
}
.headingPrimary {
	@include heading;
	&:after {
		@include heading__underline;
	}
}
.paragraph {
	max-width: clamp(100px, 30vw, 1000px);
	font-size: 1.2rem;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	.input {
		border-radius: 5px;
		font-size: 1rem;
		font-family: $primary-font;
		background-color: rgba($primary-color, 0.3);
		border: none;
		margin: 5px 0px;
		padding: 10px;
		min-width: 400px;
		color: white;
		&::placeholder {
			color: white;
		}
		&:focus {
			outline: none;
		}
	}
	textarea {
		min-height: 150px;
		max-height: 250px;
		font-size: 1.5rem;
		max-width: 1200px;
	}
}

.btn {
	@include button;
}
