@import "../../sass/variables";

.container {
	@include theme;
}
.headingPrimary {
	@include heading;
	width: 100%;
	display: flex;
	align-items: center;
	transition: all 1s;

	&:before {
		@include heading__line;
		margin-right: 100px;
	}

	&:after {
		@include heading__line;
		margin-left: 100px;
	}

	&.hidden {
		@include hiddenBottom;
	}

	&.show {
		@include show;
	}
}

.content {
	width: 70vw;

	.wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.paragraph {
		max-width: clamp(100px, 30vw, 1000px);
		font-size: 1.3rem;
		text-align: center;
		transition: all 1s;

		&.hidden {
			@include hiddenBottom;
		}

		&.show {
			@include show;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	transition: all 1s;

	&.hidden {
		@include hiddenBottom;
	}

	&.show {
		@include show;
	}

	.input {
		border-radius: 5px;
		font-size: 1rem;
		font-family: $primary-font;
		background-color: rgba($primary-color, 0.3);
		border: none;
		margin: 5px 0px;
		padding: 10px;
		min-width: 30vw;
		max-width: 70vw;
		color: white;

		&::placeholder {
			color: white;
		}

		&:focus {
			outline: none;
		}
	}

	textarea {
		font-size: 1.5rem;
		min-height: 150px;
		max-height: 300px;
	}
}

.btn {
	@include button;
	cursor: not-allowed !important;
	margin: 50px auto;
	transition: all 1s;

	&:hover {
		background-color: transparent;
	}

	&.hidden {
		@include hiddenBottom;
		transition: transform, opacity, filter 0.5s;
	}

	&.show {
		@include show;
		transition-delay: 0.5s;
		transition-property: transform, opacity, filter;
	}
}

//Media Queries

@media screen and (max-width: 1024px) {
	.headingPrimary {
		&:before {
			margin-right: 60px;
		}

		&:after {
			margin-left: 60px;
		}
	}

	.description {
		flex-direction: column;
	}

	.text, .paragraph, .form {
		min-width: 70%;
	}
}

@media screen and (max-width: 768px) {
	.headingPrimary {
		&:before {
			margin-right: 30px;
		}

		&:after {
			margin-left: 30px;
		}
	}

	.text, .paragraph, .form {
		min-width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.headingPrimary {
		&:before {
			margin-right: 20px;
		}

		&:after {
			margin-left: 20px;
		}
	}
}