@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.header {
  background-image: url(../images/noise.png);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
}
.header .header-left {
  display: flex;
  cursor: pointer;
}
.header .header-left .logo {
  padding-right: 15px;
}
.header .header-left h2 {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
}
.header .header-left span {
  color: #00C8FF;
}
.header .header-right ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.header .header-right ul li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 15px;
  font-size: 1.2rem;
}
.header .header-right ul li:after {
  display: block;
  content: "";
  border-bottom: solid 3px #00C8FF;
  border-radius: 10px;
  margin-top: 10px;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.header .header-right ul li:hover:after {
  transform: scaleX(1);
}

.home {
  background-image: url(../images/noise.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  height: 90vh;
}
.home .home-content {
  max-width: 470px;
  text-align: center;
}
.home .home-content h1 {
  margin: 0;
  color: #00C8FF;
  font-weight: 900;
  font-size: 2.2em;
  padding-top: 0.8rem;
}
.home .home-content h3 {
  margin: -0.5rem 0 0;
  color: rgba(0, 200, 255, 0.6);
  font-weight: 400;
  padding-bottom: 1.5rem;
}
.home .home-content p {
  font-size: 1.5rem;
  margin: 0;
}
.home .home-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #00C8FF;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  padding: 15px 30px;
  margin-top: 50px;
  transition: all 0.5s;
}
.home .home-btn .arrow {
  margin-left: 20px;
  transition: all 0.3s;
}
.home .home-btn:hover {
  background-color: #00C8FF;
}
.home .home-btn:hover .arrow {
  transform: rotate(90deg);
  top: 50%;
}

.about {
  background-image: url(../images/noise.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
.about .about-title {
  color: #00C8FF;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.about .about-title:after {
  content: "";
  display: block;
  background: white;
  position: absolute;
  width: 75px;
  height: 5px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
.about p {
  max-width: 50vw;
  font-size: 1.5rem;
}
.about p span {
  color: #00C8FF;
}

.project {
  background-image: url(../images/noise.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
.project .project-content {
  display: flex;
  width: 100%;
  min-height: 70vh;
  align-items: center;
  justify-content: space-evenly;
}
.project .project-content .project-description {
  max-width: 30vw;
  text-align: end;
}
.project .project-content .project-description h2 {
  color: #00C8FF;
  font-size: 2.5rem;
}
.project .project-content .project-description p {
  font-size: 1.4rem;
}
.project .project-content .project-description .description-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.project .project-content .project-description .description-bottom .github {
  color: rgba(0, 200, 255, 0.6);
  font-size: 2rem;
  transform: scale(80%);
  padding-right: 50px;
  cursor: pointer;
}
.project .project-content .project-description .description-bottom span {
  color: rgba(0, 200, 255, 0.6);
  font-size: 1.2rem;
}

.contact {
  background-image: url(../images/noise.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
.contact .contact-title {
  color: #00C8FF;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.contact .contact-title:after {
  content: "";
  display: block;
  background: white;
  position: absolute;
  width: 75px;
  height: 5px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
.contact p {
  max-width: 40vw;
  font-size: 1.4rem;
  text-align: center;
}
.contact .contact-form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.contact .contact-form .contact-input {
  border-radius: 10px;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  background-color: rgba(17, 93, 114, 0.8);
  border: none;
  margin: 5px 0px;
  padding: 10px;
  min-width: 400px;
  color: white;
}
.contact .contact-form .contact-input::placeholder {
  color: white;
}
.contact .contact-form .contact-input:focus {
  outline: none;
}
.contact .contact-form textarea {
  min-height: 150px;
  font-size: 1.5rem;
}
.contact .home-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #00C8FF;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  padding: 15px 50px;
  margin-top: 50px;
  transition: all 0.5s;
}
.contact .home-btn:hover {
  background-color: #00C8FF;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.footer .icons {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .icons .icon {
  scale: 150%;
}

.App {
  color: white;
  background: linear-gradient(to right, #17181d, #2e3d5a);
}
.App .project-title {
  background-image: url(../images/noise.png);
  margin: 0;
  color: #00C8FF;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}
.App .project-title:after {
  content: "";
  display: block;
  background: white;
  position: absolute;
  width: 75px;
  height: 5px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}