.App {
  color: white;
}
.App .header {
  background-color: #23252c;
  min-height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.App .header .header-right ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.App .header .header-right ul li {
  padding: 1em;
}
.App .content {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}
.App .content .content-left {
  max-width: 30vw;
}
.App .content .content-left h1, .App .content .content-left h3 {
  color: #61dafb;
  margin-top: 0;
  margin-bottom: 0;
}
.App .content .content-left p {
  text-align: justify;
  font-size: 20px;
}