@import "../../sass/variables";

.container {
	//background-image: url(../assets/images/noise.png);
	background-color: #003b4b;
	display: flex;
	align-items: center;
	flex-direction: column;
	.content{
		width: 70vw;
		height: 120px;
	}
}

.top {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;

	.list {
		padding: 0;
		list-style: none;

		.item {
			margin: 0 20px;
		}
	}

	.button {
		cursor: pointer;
		font-size: 1rem;
		color: #fff;
		background: none;
		border: none;

		&:hover {
			color:$primary-color;
			transition: all 0.25s ease-in-out;
		}
	}
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50%;
	position: relative;
}

.bottomLeft {
	font-size: 0.8rem;

	&:before {
		content: "";
		background: rgba(255, 255, 255, 0.5);
		width: 100%;
		height: 2px;
		position: absolute;
		left: 50%;
		top: -1%;
		transform: translateX(-50%);
	}
}

.bottomRight {
	.link {
		cursor: pointer;
		margin: 0 5px;
		transition: all 0.2s;
		color: $primary-color;

		&:hover {
			scale: 1.2;
		}
	}
}

//Media Queries

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
	.item {
		margin: 0 !important;
	}

	.bottomRight {
		display: flex;
	}

	.button {
		font-size: 0.85rem !important;
	}
}